.match_row {
    border: solid 1px #626260;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: all 0.5s ease;
    position: relative;
    background: #333;
}

.match_row:hover {
    box-shadow: #191919 0px 4px 5px;
}

.match_row__title {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background: #222;
    transition: all 0.3s ease;
}

a .match_row__title,
a:visited .match_row__title,
a:focus .match_row__title {
    text-decoration: none;
    color: #999999;
}

a:hover > .match_row__title {
    color: #a78d00;
}

.match_row__odds_type {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 12px;
    color: #999999;
}

.match_row__odds_row_container {
    width: 33.3%;
    border-right: #626260 solid 1px;
    float: left;
    text-align: center;
}

.match_row__odds_row_container:last-child {
    border-right: 0;
}

.match_row__odds_row_partner {
    font-size: 14px;
    color: #999999;
    margin: 20px 0;
}

.match_row__odds_row_odds {
    font-size: 24px;
    font-weight: bold;
    color: #999999;
    margin-bottom: 20px;
}

.match_row__odds_row_team {
    color: #a78d00;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 100;
}

@media only screen and (max-width: 550px) {
    .match_row__odds_type {
        right: 10px;
        top: 10px;
    }

    .match_row__title {
        padding: 10px;
        font-size: 15px;
    }

    .match_row__odds_row_container {
        width: 100%;
        border-right: 0;
        border-bottom: solid 1px #626260;
        float: left;
        text-align: center;
        display: block;
    }

    .match_row__odds_row_container:last-child {
        border-bottom: 0;
    }

    .match_row__odds_row_partner,
    .match_row__odds_row_odds,
    .match_row__odds_row_team {
        margin: 10px 0;
        width: 33.3%;
        float: left;
    }

    .match_row__odds_row_partner,
    .match_row__odds_row_team {
        margin: 15px 0;
    }
}
